LISTS

In [2]:
#define a list

x = [1,2,3,4,5,6]
print(len(x))      #Prints the length of the given list

6

In [4]:
x[:3]  #Slicing

[1, 2, 3]

In [6]:
x [-2:]

[5, 6]

In [10]:
x.extend([7,8])   #Append a list to another list
x

[1, 2, 3, 4, 5, 6, 7, 8, 7, 8]

In [12]:
x.append(9)  
x

[1, 2, 3, 4, 5, 6, 7, 8, 7, 8, 9]

In [14]:
y = [10,11,12]

listOfLists = [x,y]
listOfLists

[[1, 2, 3, 4, 5, 6, 7, 8, 7, 8, 9], [10, 11, 12]]

In [20]:
y[1]

11

In [22]:
z = [3,2,1]
z.sort()
z

[1, 2, 3]

In [24]:
z.sort(reverse = True)
z

[3, 2, 1]

In [38]:
list1 = [1,2,'abc',0]
list1

[1, 2, 'abc', 0]

In [42]:
print(type(list1))

<class 'list'>

In [44]:
# Creating a list using list() constructor

thisList = list(("abc",1,"def","cherry"))
thisList

['abc', 1, 'def', 'cherry']

In [46]:
thisList.insert(2, "Banana")
thisList

['abc', 1, 'Banana', 'def', 'cherry']

In [48]:
thisList.remove("Banana")
thisList

['abc', 1, 'def', 'cherry']

TUPLES

In [26]:
#Tuples are immutable lists.

x = (1,2,3)
len(x)

3

In [32]:
y = (4,5,6)
y[1]

5

In [34]:
listOfTuples = [x,y]
listOfTuples

[(1, 2, 3), (4, 5, 6)]

In [36]:
(age, income) = "32,12000".split(',')
print(age)
print(income)

32
12000

DICTIONARY

In [52]:
captains = {}

captains["Enterprise"] = "kirk"
captains["Ent D"] = "Picard"
captains["DSN"] = "Siko"
captains["Voyager"] = "JaneWay"
         
print(captains)

{'Enterprise': 'kirk', 'Ent D': 'Picard', 'DSN': 'Siko', 'Voyager': 'JaneWay'}

In [56]:
print(captains["Voyager"])

JaneWay

In [58]:
print(captains.get("DSN"))

Siko

In [60]:
for ship in captains:
    print(ship + ":" + captains[ship])

Enterprise:kirk
Ent D:Picard
DSN:Siko
Voyager:JaneWay

In [62]:
captains[1] = "2"
print(captains)

{'Enterprise': 'kirk', 'Ent D': 'Picard', 'DSN': 'Siko', 'Voyager': 'JaneWay', 1: '2'}

In [64]:
for ship in captains:
    print(ship)

Enterprise
Ent D
DSN
Voyager
1

In [66]:
ans = captains["Voyager"]
print(ans)

JaneWay

In [ ]:
FUNCTIONS

In [68]:
def sq(x):
    return x*x

print(sq(2))

4

In [72]:
def doSomethn(p,x):
    return p(x)

print(doSomethn(sq,4))

16

In [74]:
print(doSomethn(lambda x: x*x*x,3))

27

BOOLEAN EXPRESSIONS

In [76]:
print(1 == 3)

False

In [78]:
print(True or False)

True

In [80]:
print(1 is 3)

False

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_73073/453973788.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(1 is 3)

In [82]:
if 1 is 3:
    print("No bro ")
elif 1 > 3:
    print("Yes")
else:
    print("All Good")

All Good

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_73073/1266928859.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if 1 is 3:

LOOPING

In [84]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [86]:
for x in range(10):
    if(x is 1):
        continue
    if(x > 5):
        break
    print(x)

0
2
3
4
5

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_73073/1656446068.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if(x is 1):

In [92]:
li = [1,2,"Beautiful", "place"]
for i in li:
    print(i)

1
2
Beautiful
place

In [100]:
y = 2
while(y < 10):
    print(y)
    y += 3

2
5
8

In [104]:
#Print only even numbers in the list

numb = [1,12,3,4,2,6,9,89,34,22,76,10,12]

for i in numb:
    if i%2 == 0:
        print(i)

12
4
2
6
34
22
76
10
12